<% include partials/header.ejs %>
<center><h1> Homework Page </h1></center>
<table class="table">
  <thead>
    <tr>
      <td> <p> File Name </p> </td>
      <td> <p> Download Here </p> </td>
    </tr>
  </thead>
  <tbody>
  <% File.forEach(function(File){ %>
  <%  if (File.fileGroup === "homework") { %>
    <tr>
      <td> 
        <p> <%= File.name %> </p>
      </td>
      <td> 
        <div class="tableForm">
          <form action="<%= File.URL %>">
            <button class="btn btn-primary filebtn" type="submit"> Download </button>
          </form>
        </div>
      </td>
    </tr>
  </tbody>
  <%  } %>
<% }) %>
</table>

<% include partials/footer.ejs %>