<% include partials/header.ejs %>

       <div class="text">
            <h1 id="landingh1"> Welcome to our classes for the 2017-2018 school year </h1>
            <p> Please remember to check the answers to all homework assignments before coming to class so that you are prepared to ask questions on topics that might trouble you. </p>
                <br>
            <p> If you discover any mistake on the answers that I post, please inform me via email. </p>
                <br>
            <p> If you need a copy of an assignment for your class, please email me so I can send a copy to you. </p>
                <br>
            <p> When you email me, please put your name on the subject line. I don't open emails from people that I do not recognize. You can email me at qingtangren@yahoo.com</p>
                <br>
            <p> I look foward to a productive and enjoyable school year with all of you. </p>
        </div>
    </div>

<% include partials/footer.ejs %>