<% include partials/header %>
<h1> Welcome to the Login Page </h1>

<form action="/login" method="POST">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button type="submit" action="submit"> Submit </button>
</form>

<% include partials/footer %>