<% include partials/header %>
<h1> Welcome to the Login Page </h1>

<div class="form">
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username"> Username </label>
            <input name="username" type="text" placeholder="username" id="username">
        </div>
        <div class="form-group">
            <label for="password"> Password </label>
            <input name="password" type="password" placeholder="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" action="submit"> Login </button>
        </div>
    </form>
</div>

<% include partials/footer %>