<% include partials/header.ejs %>
    <div class="fileUpload">
        <form action="/upload" method="POST" id="form">
            <div class="form-group">
                <input type="text" placeholder="File Name" name="name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="File URL" name="URL">
            </div>
            <div class="form-group">
                <input type="radio" name="fileGroup" value="classwork"> Classwork
                <input type="radio" name="fileGroup" value="homework"> Homework
            </div>
            <button class="btn btn-sucess" type="submit" id="submit"> Submit! </button>
        </form>
        <h3> <a href="/logout"> Logout Here </a></h3>
    </div>
<% include partials/footer.ejs %>