<% include partials/header.ejs %>
    <div class="form">
        <form action="/upload" method="POST" id="form">
            <div class="form-group">
                <label for="fileName"> File Name </label>
                <input id="fileName" type="text" placeholder="File Name" name="name">
            </div>
            <div class="form-group">
                <label for="fileURL"> File URL </label>
                <input type="text" placeholder="File URL" name="URL" id="fileURL">
            </div>
            <div class="form-group">
                <label for="classwork"> Classwork </label>
                <input type="radio" name="fileGroup" value="classwork" id="classwork"> 
                <label for="homework"> Homework </label>
                <input type="radio" name="fileGroup" value="homework" id="homework"> 
            </div>
            <div class="form-group">
                <label for="MRN22"> MRN22 </label>
                <input type="radio" name="fileClas
                s" value="MRN22" id="MRN22"> 
                <label for="MPN11"> MPN11 </label>
                <input type="radio" name="fileClass" value="MPN11" id="MPN11">
            </div>
            <button class="btn btn-primary" type="submit" id="submit"> Submit </button>
        </form>
        <br>
        <div class="form-group">
            <form action="/logout" method="GET">
                <button class="btn btn-secondary"> Logout </button>
            </form>
        </div>
    </div>
<% include partials/footer.ejs %>